{% extends 'core/base.html' %}
{% block title %}Passo 02{% endblock %}
{% block content %}

<h2 id="title">Defina os marcadores</h2>

<div class="btn-group" role="group" aria-label="Group steps">
    <button type="button" class="btn btn-primary rounded-circle btn-step" data-step="1">1</button>
    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg>

    <button type="button" class="btn btn-primary rounded-circle btn-step" data-step="2">2</button>
    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg>

    <button type="button" class="btn btn-secondary rounded-circle btn-step" data-step="3">3</button>
    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg>

    <button type="button" class="btn btn-secondary rounded-circle btn-step" data-step="4">4</button>
</div>

<div class="container-mark">

    <div class="btn-marks-container">
        <button type="button" class="btn btn-primary btn-block" id="btn-show-crop">Recortar</button>
        <button type="button" class="btn btn-primary btn-block" id="btn-crop">Salvar</button>
    </div>

    <div id="croup-container">
        <img class="img img-fluid" src="{{ form.image }}" alt="{{ form.name }}" id="mark-original"/>
    </div>

    <img class="img-fluid" src="{{ form.image }}" alt="{{ form.name }}" id="mark-dist"/>
</div>
{% endblock %}
