{% extends 'core/base.html' %}
{% block title %}Passo 02{% endblock %}
{% block content %}

<h2 id="title">Defina os marcadores</h2>

<div class="btn-group" role="group" aria-label="Group steps">
    <button type="button" class="btn btn-primary rounded-circle btn-step" data-step="1">1</button>
    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg>

    <button type="button" class="btn btn-primary rounded-circle btn-step" data-step="2">2</button>
    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg>

    <button type="button" class="btn btn-secondary rounded-circle btn-step" data-step="3">3</button>
    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg>

    <button type="button" class="btn btn-secondary rounded-circle btn-step" data-step="4">4</button>
</div>

<div class="btn-targets-container">
    <label>Quantidade de marcadores</label>
    <div class="container-fluid">
      <label>Largura da imagem</label>
      <input class="form-control" type="number" name="width" id="mark-width" name="marks" min="10" max="300" value="50" />
      <label>Altura da imagem</label>
      <input class="form-control" type="number" name="height" id="mark-height" name="marks" min="10" max="300" value="50" />
      <label>Espaçamento</label>
      <input class="form-control" type="number" name="height" id="mark-space" name="marks" min="50" max="300" value="50" />
      <label>Quantidade de questão</label>
      <input class="form-control" type="number" name="question" id="mark-question" name="marks" min="10" max="300" value="10"/>
    </div>
    <form class="form-group">
      <div class="container-marks-inputs">
          {% load static %}
          <img class="img img-fluid mark-image" src="{% static 'mark.png' %}" alt="{{ form.name }}" id="mark-1" />
      </div>

    </form>
</div>

<div class="container-mark">

    <div class="btn-marks-container">
        <button type="button" class="btn btn-primary btn-block" id="btn-show-crop">Fazer Recorte</button>
        <button type="button" class="btn btn-primary btn-block" id="btn-crop">Salvar Recorte</button>
        <button type="button" class="btn btn-primary btn-block" id="btn-generate">Gerar marcadores</button>
        <button type="button" class="btn btn-primary btn-block" id="btn-next">Próxima Etapa</button>
    </div>

    <div id="croup-container">
        <img class="img img-fluid" src="{{ form.image }}" alt="{{ form.name }}" id="mark-original"/>
    </div>

    <img class="img-fluid" src="{{ form.image }}" alt="{{ form.name }}" id="mark-dist"/>
</div>
{% endblock %}
